@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#big-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    box-sizing: content-box;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

#half-container {
    display: flex;
}

#quarter-container {
    border: 1px solid gray;
    display: flex;
}

.button-container {
    text-align: center;
    margin: 12px;
}

button {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
}